{% raw %}
<div>
  <div class="container">
    <div class="row mb-3">
      <a class="mx-auto d-block" :href="diagramUrl" data-lightbox="diagram">
        <img :src="diagramUrl" class="img-fluid img-thumbnail rounded mx-auto d-block">
      </a>
    </div>

    <form>
      <div class="row">
        <h5 class="col">Grade</h5>
        <span class="col text-right">
          <a href @click.prevent="toggleAddFieldForm" ref="addFieldBtn">
            + Add Field
          </a>
        </span>

        <div id="add-field-form" ref="addFieldForm" v-show="showAddFieldForm" 
          class="popover popover-bottom">
          <h3 class="popover-title">New Field</h3>
          <div class="popover-content">
            <p-field-form @submit="addField"></p-field-form>
          </div>
        </div>
      </div>
  
      <p-grade-form v-if="hasFields" @submit="onSubmit"
        :fields="fields" :submitting="submitting" @remove-field="removeField"></p-grade-form>
    
      <div v-if="message" class="text-success mt-3" :class="messageClass">
        {{ message }}
      </div>
    </form>
  </div>
</div>
{% endraw %}