<script type="x-template" id="grade">
  {% include 'components/grade/grade.template.html' %}
</script>

<script>
  Vue.component('p-grade', {
    template: "#grade",

    props: {
      diagramUrl: String
    },

    data: function() {
      return {
        fields: {},
        message: '',
        messageClass: '',

        showAddFieldForm: false,
        submitting: false
      };
    },

    created: function() {
      this.getGrades();
    },

    computed: {
      hasFields: function() {
        var fields = this.fields;
        for (var fieldName in fields) {
          if (fields.hasOwnProperty(fieldName)) return true;
        }

        return false;
      }
    },

    methods: {
      getGrades: function() {
        var self = this;
        var $set = this.$set;
        jQuery.get('/api/grades', function(grades) {
          grade.new = false;

          grades.forEach(function(grade) {
            $set(self.fields, grade.name, grade);
          });
        });
      },

      toggleAddFieldForm: function() {
        var inv = !this.showAddFieldForm;
        this.showAddFieldForm = inv;

        var self = this;
        if (inv && !self.tether) {
          setTimeout(function() {
            self.tether = new Tether({
              element: self.$refs.addFieldForm,
              target: self.$refs.addFieldBtn,
              attachment: 'top center',
              targetAttachment: 'bottom center',
              targetOffset: '10px 0'
            });
          }, 1);
        }
      },

      addField: function(fieldName, dataType) {
        this.showAddFieldForm = false;

        var fields = this.fields;
        var field = fields[fieldName] || {};
 
        field.name = fieldName;
        field.type = dataType;
        field.value = '';
        field.new = true;

        if (!fields.hasOwnProperty(fieldName)) {
          this.$set(fields, fieldName, field);
        }
      },

      removeField: function(fieldName) {
        var field = this.fields[fieldName] || {};

        if (field.new) {
          this.$delete(this.fields, fieldName);
          return;
        }

        var self = this;
        jQuery.ajax({
          type: 'DELETE',
          url: '/api/grades/' + fieldName,
          success: function() {
            self.$delete(self.fields, fieldName);
          }
        });
      },

      onSubmit: function() {
        var self = this;

        this.submitting = true;
        jQuery.ajax({
          type: 'POST',
          url: '/api/grades/create',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify({ fields: self.fields }),

          success: function() {
            self.submitting = false;
            self.messageClass = 'text-success';
            self.message = '> Successfully graded! Redirecting to submission page...';

            setTimeout(function() {
              self.$router.push('home');
            }, 3000);
          },

          error: function(error) {
            self.submitting = false;
            self.messageClass = 'text-danger';
            self.message = error.responseJSON.error;
          }
        });
      }
    }
  });
</script>