<script type="x-template" id="login">
  {% include 'components/login/login.template.html' %}
</script>

<script>
  Vue.component('p-login', {
    template: "#login",

    data: function() {
      return {
        username: '',
        password: '',
        authError: '',

        submitting: false
      };
    },

    methods: {
      onSubmit: function() {
        if (this.submitting) return;

        var self = this;
        this.$validator.validateAll().then(function() {
          self.submitting = true;
          self.login(self.username, self.password).always(function() {
            self.submitting = false;
          });
        }).catch();
      },

      login: function(username, password) {
        var self = this;

        return AuthService.login(username, password,
          function() {
            self.$router.push('home');
          },

          function(data) {
            self.authError = data.responseJSON.error || 'Something went wrong, please try again later';
          }
        );
      }
    }    
  });
</script>