<script type="x-template" id="home">
  {% include 'components/home/home.template.html' %}
</script>

<script>
  Vue.component('p-home', {
    template: "#home",

    computed: {
      user: function() {
        return AuthService.getUser();
      },
    },

    watch: {
      '$route': function(to) {
        if (to.name == 'home') {
          this.redirect();
        }
      }
    },

    mounted: function() {
      this.redirect();
    },

    methods: {
      logout: function() {
        var self = this;
        AuthService.logout().done(function() {
          self.$router.push('login');
        });
      },

      redirect: function() {
        switch (this.user.mode) {
          case 'code': this.$router.push('code'); break;
          case 'file': this.$router.push('file'); break; 
        }
      }
    }
  });
</script>