{% raw %}
<form @submit.prevent="onSubmit">
  <div class="form-group" :class="{ 'has-danger': errors.has('file') }">
    <label>File</label>
    <input type="file" name="file" class="form-control"
      @change.prevent="onFileChange" v-validate.reject="'required|mimes:application/zip'" >

    <div v-show="errors.has('file')" class="form-control-feedback">{{ errors.first('file') }}</div>
  </div>

  <div class="text-right">
    <button type="submit" class="btn btn-primary">
      <p-loading-icon v-show="submitting"></p-loading-icon>
      <span v-show="!submitting">Submit</span>
    </button>
  </div>
</form>
{% endraw %}